@import 'src/colors.scss';

.Loader {
  &__wrapper {
    margin: 100px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__content {
    display: block;
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 7px solid transparent;
    border-top-color: $primary;
    animation: spin 2s linear infinite;
  }
  &__content::before,
  &__content::after {
    content: '';
    position: absolute;
    border-radius: 50%;
    border: 7px solid transparent;
  }
  &__content::before {
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border-top-color: #9980ff;
    animation: spin 3s linear infinite;
  }
  &__content::after {
    top: 25px;
    left: 25px;
    right: 25px;
    bottom: 25px;
    border-top-color: #d6ccff;
    animation: spin 1.5s linear infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
